.box-token-title {
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  letter-spacing: 0.05px;

  /* Neutral/Dark Grey */

  color: #212529;
}

.box-token-status {
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: 0.05px;

  /* Secondary/Purple */

  color: #a0a0ff;
}

.box-token-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8.75px 20px;
  width: 291px;
  height: 33px;
  border: 2px solid #a0a0ff;
  box-sizing: border-box;
  border-radius: 7px;
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #212529;
  margin: 0px 0px;
  background-color: transparent;
}

.box-token-or {
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05px;
  color: #000000;
  margin-top: 8px;
  margin-bottom: 8px;
}

.box-token-backlink {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 26px;
  text-decoration-line: underline;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8.75px 20px;
  width: 291px;
  height: 33px;
  text-align: center;
  color: #212529;
  margin-top: 6px;
}

.box-token-info {
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05px;
  /* margin-bottom: 0px; */
  color: #000000;
}

.box-token-deck-title {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  color: #a0a0ff;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 30px 0px;
}

.box-token-container {
  width: 328px !important;
  height: 520px !important;
  border: none;
  margin: 0px 80px 60px 80px;
}

.claimable-amount-info{
  font-family: "Space Grotesk", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.05px;
color: #000000;
}
