.cta-title {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 52px;
  color: #A0A0FF;
}

.cta-description {
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #A0A0FF;
  margin-top: 10px;
}

.cta-action {
  margin-top: 20px;
}

.cta-deck {
  display: flex;
  margin-top: 145px;
  margin-bottom: 120px;
}
