.bg-transparent {
  background-color: transparent !important;
}

.rounded-purple-container {
  border: 2px solid #a0a0ff;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 8.75px 20px;
  color: #a0a0ff;
}

.sphere-action-Btn {
  padding: 8.75px 20px;
  background: #00ff00;
  border: 2px solid #00ff00;
  box-sizing: border-box;
  border-radius: 100px;
  color: #212529;
  font-style: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.sphere-action-Btn:hover {
  background: #00cc00;
  border: 2px solid #00bf00;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 3.6px rgba(0, 255, 0, 0.5);
  border-radius: 100px;
}
